@import url('./variables.module.css');

.container{
    overflow: hidden;
}

.main_container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

button{
    height: min(8vh, 40px);
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    color: var(--secondary-color);
}

button:hover{
    opacity: 0.7;
}

.button_gold{    
    background-color: var(--tertiary-color);
    border: none;
}

.button_dark{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    letter-spacing: 2px;
}

.menu_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    opacity: 0.8;
    z-index: 1;
}

.presentation{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;  
}

.presentation h1{
    letter-spacing: 2px;
}

.presentation h2{
    color: #999;
    letter-spacing: 2px;
}

.presentation h2 span{
    color: #666;
}

.format_courses{
    display: flex;
    padding: 2vh 0 2vh 0;
}

.format_courses div{
    display: flex;
}

.format_courses button{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
}

.sliderentrenarexito{
    display: flex;
    margin: 4vh 0 4vh 0;
}

.sliderentrenarfirstboxinfotraining{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}

.sliderentrenarfirstboxinfotraining p{
    color: #858479;
}

.sliderentrenarsecondboxinfotraining{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.contenido_exclusivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 4vh 0;
}

.contenido_exclusivofirstbox{
    display: flex;
}

.sectionsinfos_masinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionsinfos_masinfo > form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2vh;
}

.sectionsinfos_masinfo > form > h2{
    text-align: center;
    margin: 2vh 0;
}

.sectionsinfos_form_firstbox {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
}

.sectionsinfos_form_firstbox > input, .sectionsinfos_form_firstbox > select {
    height: 5vh;
    padding-left: 1vw;
    border-radius: 4px;
    border: none;
}

.sectionsinfos_form_firstbox > select{
    color: #D8D7CE;
}

.sectionsinfos_form_firstbox select:focus{
    outline: none;
    color: var(--primary-color);
    border-radius: 4px;
    border: none;
}

.sectionsinfos_form_firstbox input::placeholder {
    color: #D8D7CE;
    
}
  
.sectionsinfos_form_secondbox > label {
    color: #858479;
}

.sectionsinfos_form_secondbox >  label > a {
    color: var(--secondary-color);
}

.sectionsinfos_masinfo > form > button {
    margin: 2vh 0;
}

.sectionsinfos_masinfo > article > h3, .sectionsinfos_masinfo > article > h2 {
    text-align: center;
    margin: 2vh 0;
}

.sectionsinfos_boxcomments{
    margin-top: 2vh;
}

.articulos_relacionados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulos_relacionados h1{
    text-align: center;
    margin: 4vh 0;
}

.articulos_relacionados > div{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.articulos_relacionados > div > div{
    border-bottom: 1px solid #858479;
    padding-bottom: 1vh;
}

.articulos_relacionados > div > div > p{
    color: #858479;
}

.articulos_relacionados > button{
    margin: 2vh 0;
}

@media screen and (min-device-width: 500px){
    .presentation{
        height: 80vh;
        background-image: url(../assets/img/Hero.svg);
    }

    .presentation h1{
        font-size: 3rem;
    }
    
    .presentation h2{
        font-size: 2.5rem;
    }
    
    .presentation h2 span{
        font-size: 2.5rem;
    }

    .format_courses{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
           
    }

    .format_courses div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1vw;
    }

    .format_courses h3{
        font-size: 1.5rem;
    }

    .format_courses div img {
        width: max(10vh, 100px);
    }

    .format_courses button{
        height: 8vh;
        width: 26vw;
        min-width: 200px;
        font-size: 1.5rem;
    }

    .common_questions{
        display: none;
    }

    .button_mobile{
        display: none;
    }

    .sliderentrenarexito{
        background-color: #fff;
        border-radius: 4px;  
    }

    .sliderentrenarboxinstructor{
        width: 50%;
    }

    .sliderentrenarboxinstructor img{
        width: 100%;
        height: 100%;
    }

    .sliderentrenarboxinfotraining{
        width: 50%;
        padding: 4vh;
    }

    .sliderentrenarfirstboxinfotraining{
        justify-content: flex-start;
    }

    .sliderentrenarfirstboxinfotraining h2{
        color: var(--primary-color);
        font-size: 2.4rem;
    }

    .sliderentrenarfirstboxinfotraining p{
        font-size: 1.4rem;
        font-weight: 400;
        margin-right: 4vw;
    }

    .sliderentrenarsecondboxinfotraining div{
        opacity: 0.4;
        transition: .3s;
        cursor: pointer;
    }

    .sliderentrenarsecondboxinfotraining div:hover{
        width: max(10vw,148px);
        opacity: 1;
    }

    .sliderentrenarsecondboxinfotraining div img{
        width: max(10vw,148px);
    }

    .sliderentrenarsecondboxinfotraining div h3{
       color: var(--primary-color);
    }

    .contenido_exclusivo h1{
        font-size: 2.5rem;
        margin-bottom: 4vh;
    }
    
    .contenido_exclusivofirstbox{
        display: flex;
        gap: 4vw;  
        margin-bottom: 4vh;
    }

    .contenido_exclusivofirstbox div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .contenido_exclusivofirstbox div img{
        width: max(4vw, 72px);
    }

    .contenido_exclusivofirstbox div p{
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    .contenido_exclusivosecondbox button{
        height: 8vh;
        width: 26vw;
        min-width: 200px; 
        font-size: 1.5rem;
    }

    .contenido_exclusivothirdbox{
        display: none;
    }

    .sectionsinfos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionsinfos_boxlessonplan{
        width: 80%;
    }

    .sectionsinfos_boxlessonplan > h2{
        text-align: center;
        margin: 4vh 0;
        font-size: 2.5rem;
    }

    .sectionsinfos_boxlessonplan article{
        background-color: #F6F4EF;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionsinfos_boxlessonplan article > div{
        width: 96%;
        display: flex;
        align-items: flex-start;
        padding: 4vh 2vw;
        gap: 2vw;
        border-bottom: 2px solid #D8D7CE;
    }

    .sectionsinfos_boxlessonplan article div h1{
        font-size: 3rem;
        color: #858479;
    }

    .sectionsinfos_boxlessonplan article div div h2{
        color: var(--primary-color);
        font-size: 2.5rem;
        margin-bottom: 2vh;
    }

    .sectionsinfos_boxlessonplan article div div p{
        color: #858479;
        font-size: 1.2rem;
        margin-bottom: 2vh;
    }

    .sectionsinfos_boxlessonplan article button{ 
        width: min(16vw, 180px);
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 4vh;
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        background-color: transparent;
    }

    .sectionsinfos_infoscursos {
        margin: 2vh 0;
    }

    .sectionsinfos_infoscursos > h2{
        text-align: center;
        font-size: 2rem;
        margin: 2vh 0;
    }

    .sectionsinfos_infoscursos > div {
        display: flex;
        justify-content: center;
        gap: 2vh; 
    }

    .sectionsinfos_infoscursos > div > img{
        cursor: pointer;
        width: max(24vw,400px);
    }

    .sectionsinfos_masinfo > form {
        width: max(40vw,500px);
        align-items: center;
    }

    .sectionsinfos_masinfo > form > h2 {
        font-size: 2rem;
    }

    .sectionsinfos_form_firstbox{
        justify-content: center;
    }

    .sectionsinfos_form_firstbox > input, .sectionsinfos_form_firstbox select {
        width: max(18vw,300px);        
    }
    
    .sectionsinfos_masinfo > form > button {
        width: min(22vw, 300px);
        font-size: 1.2rem;
    }

    .sectionsinfos_masinfo > article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionsinfos_masinfo > article > h2{
        font-size: 2rem;
    }

    .sectionsinfos_masinfo > article > h3{
        font-size: 1.5rem;
        color: #858479;
    }

    .sectionsinfos_masinfo > article > h3 > span{
        margin-left: 1vw;
        color: var(--tertiary-color);
    }

    .sectionsinfos_boxcomments > div{
        display: flex;
        gap: 2vw;
        border-bottom: 1px solid #858479;
        margin-bottom: 2vh;
        
    }  

    .sectionsinfos_boxcomments > div > div:first-child{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #858479;
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    .sectionsinfos_boxcomments > div > div:first-child > h3{
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    .sectionsinfos_boxcomments > div > div:last-child{
        width: max(40vw,400px);
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 2vh;
    }

    .sectionsinfos_boxcomments > div > div:last-child > h3{
        font-size: 1.4rem;
        margin-bottom: 2vh;
    }
    
    .sectionsinfos_boxcomments > div > div:last-child > h3 > span{
        margin-left: 2vw;
        color: #858479;
    }

    .sectionsinfos_boxcomments > div > div:last-child > h3 > span > img{
        margin-right: 0.5vw;
    }

    .sectionsinfos_boxcomments > div > div:last-child > p {
        font-size: 1.1rem;
    }

    .sectionsinfos_boxcomments > div > div:last-child > p:nth-child(2) {
        color: #858479;
        border-top: 1px solid #858479;
        margin-top: 2vh;
        padding-top: 1vh;
    }

    .data_info_unycos_team{
        color: var(--tertiary-color);
        margin-top: 1vh;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .data_info_unycos_team > span{
        color: #fff;
    }

    .data_info_unycos_team > span:last-child{
        color: #858479;
    }

    .sectionsinfos_masinfo > article > button {
        width: min(16vw,160px);
    }
    
    .articulos_relacionados h1{
        font-size: 2.5rem;
    }
    
    .articulos_relacionados > div{
        width: 60vw;
    }
    
    .articulos_relacionados > div > div{
        width: 520px;
    }
    
    .articulos_relacionados > div > div > h3{
        font-size: 1.5rem;
    }

    .articulos_relacionados > button{
        width: min(28vw,480px);
        margin-bottom: 4vh;
    }

    .boxblog{
        width: 100%;
        height: max(44vh,340px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 4vh;
        color: var(--secondary-color); 
        background-image: url(../assets/img/imageblog.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;   
    }

    .boxblog h1{
        font-size: 2.5rem;
    }

    .boxblog h3{
        font-size: 1.8rem;
        text-align: center;
    }

    .boxblog button{
        width: min(28vw,480px);
        font-size: 1.2rem;
    }
    
    .boxunetelacomunidad{
        display: none;
    }

}

@media screen and (max-device-width: 500px) {
    .presentation{
        width: 100%;
        height: 80vh;
        background-image: url(../assets/img/HeroMobile.svg);
    }

    .presentation h1{
        font-size: 2rem;
    }
    
    .presentation h2{
        color: #999;
        font-size: 1.5rem;
    }
    
    .presentation h2 span{
        color: #666;
        font-size: 1.5rem;
    }

    .format_courses{
        flex-wrap: wrap-reverse;
    }

    .format_courses div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 28vh;
        gap: 2vh;
    }

    .format_courses div img{
        width: 16vw;
    }

    .format_courses button{
        width: 100%;
        font-size: 1rem;
    }

    .button_desktop{
        display: none;
    }

    .common_questions{
        width: 96%;
        color: var(--secondary-color);
        height: 24vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 400;
    }

    .common_questions button{
        width: 100%;
        font-size: 1rem;
    }

    .sliderentrenarexito{
        flex-direction: column;
        margin: 8vh 0 4vh 0;
    }

    .sliderentrenarboxinstructor{
        display: none;
    }

    .sliderentrenarfirstboxinfotraining{
        text-align: center;
    }

    .sliderentrenarfirstboxinfotraining h2{
        font-size: 1.4rem;
    }

    .sliderentrenarfirstboxinfotraining p{
        font-size: 1.2rem;
    }

    .contenido_exclusivo h1{
        display: none;
    }

    .contenido_exclusivofirstbox{
        gap: 8vw;
        text-align: center;
    }

    .contenido_exclusivofirstbox div img{
        width: 60px;     
    }

    .contenido_exclusivosecondbox{
        display: none;
    }
    
    .contenido_exclusivothirdbox h2{
        margin: 4vh 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .contenido_exclusivothirdbox div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2vh 0;  
    }

    .contenido_exclusivothirdbox div p{
        color: #858479;
        width: 100%;
    }

    .contenido_exclusivothirdboxdestaques{
        border-bottom: 1px solid #666;
        gap: 3vh;
    }

    .contenido_exclusivothirdbox button{
        width: 100%;
        font-size: 1rem;
    }

    .contenido_exclusivothirdboxcalificacion{
        margin-top: 4vh;
        gap: 4vw;
    }

    .contenido_exclusivothirdboxcalificacion h3{
        font-size: 1rem;
    }

    .contenido_exclusivothirdbox p{
        color: #858479;
    }

    .sectionsinfos{
        display: flex;
        flex-direction: column-reverse;
    }

    .sectionsinfos_boxlessonplan{
        display: none;
    }

    .sectionsinfos_infoscursos {
        margin: 2vh 0;
    }

    .sectionsinfos_infoscursos > h2{
        text-align: center;
        font-size: 2rem;
        margin: 2vh 0;
    }

    .sectionsinfos_infoscursos > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh; 
    }

    .sectionsinfos_infoscursos > div > img {
        border-radius: 4px;
    }

    .sectionsinfos_masinfo > form {
        width: 100%;
    }

    .sectionsinfos_masinfo > form > h2 {
        font-size: 1.5rem;
    }

    .sectionsinfos_form_firstbox{
        justify-content: center;
    }

    .sectionsinfos_form_firstbox > input, .sectionsinfos_form_firstbox select {
        width: 100%; 
        height: 8vh;       
    }
    
    .sectionsinfos_masinfo > form > button {
        width: 100%;
        font-size: 1.2rem;
    }

    .sectionsinfos_masinfo > article {
        margin-top: 4vh;
    }

    .sectionsinfos_masinfo > article > h2 {
        font-size: 1.3rem;
    }

    .sectionsinfos_masinfo > article > h3 {
        display: none;
    }

    .sectionsinfos_boxcomments{
        display: flex;
        gap: 2vw;
    }

    .sectionsinfos_boxcomments > div {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-radius: 4px;
        width: 90vw;
        padding: 1vh;
    }

    .sectionsinfos_boxcomments > div > div:first-child{
        display: none;
    }

    .sectionsinfos_boxcomments > div > div:last-child > h3{
        text-align: right;
        margin-top: 1vh;
    }

    .sectionsinfos_boxcomments > div > div:last-child > h3 > span{
        display: none;
    }

    .sectionsinfos_boxcomments > div > div:last-child > p:nth-child(2){
        display: none;
    }

    .data_info_unycos_team{
        display: none;
    }

    .articulos_relacionados > button{
        width: 90%;
    }

    .boxblog{
        display: none;
    }

    .boxunetelacomunidad{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxunetelacomunidad > h1{
        color: var(--secondary-color);
        font-size: 1.3rem;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }

    .boxunetelacomunidad > div{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 4vh;
    }

    .boxunetelacomunidad > h3{
        color: var(--secondary-color);
        font-size: 1rem;
        margin-bottom: 2vh;
    }

    .boxunetelacomunidad > button {
        width:  min(80%,240px);
    }

    .boxunetelacomunidad > button > img {
        margin-right: 1vw;
    }

}