@import url('./variables.module.css');

.register_container{
    position: fixed;
    top: 20vh;
    left: 40vw;
    width: 400px;
    height: 360px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
}

.register_container h1{
    text-align: center;
    margin: 2vh 0;
    font-weight: 600;
}

.register_container input{
    height: min(4vh,40px);
    margin: 8px 0;
    padding-left: 1vw;
    border: none;
    border-radius: 4px;
    color: var(--quaternary-color);
    font-size: 1rem;
}

.register_container input:focus{
    border-bottom: 3px solid var(--quaternary-color);
    outline: none;
}

.register_container > div {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0;
}

.button_gold{   
    width: 40%; 
    background-color: var(--tertiary-color);
    border: none;
    font-size: 1rem;
}

.error_message{
    color: var(--error-color-primary);
    font-size: 0.8rem;
    font-weight: 600;
}

.input_error_message{
    border: 1px solid var(--error-color-primary);
}

@media screen and (max-device-width: 500px){
    .register_container{
        top: 0vh;
        left: 0vw;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        justify-content: space-evenly;
    }
}